.resume-header .resume-headshot img {
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
    outline: 7px solid #333;
    outline-offset: -7px;
    vertical-align: middle;
}
.resume-header > div {
    margin:auto;
    height: 100%;
}
.resume-header h2 {
    margin-bottom: 0px;
}
.resume-job-history ul {
    list-style: none;
    margin-left: 5px;
}
.resume-job-history li > ul > ul {
    padding-left: 30px;
    padding-top: 10px;
    margin-left: -30px;
    margin-top: -13px;
    }
.resume-job-history ol > li > span.major-timeline-event { 
    list-style: none;
    font-weight: bolder;
    font-size: larger;
}
.resume-job-history ol > li { 
    margin-top: 15px;
}
.resume-job-history .job-date-range, .resume-job-history .job-location { 
    color: #888;
}
.resume-job-history .job-description {
    padding-top: 10px;
}
.resume-job-history .minor-timeline-event {
    font-weight: bold;
    margin-top: 10px;
    margin-left: -10px;
    padding-left: 10px;
}
.resume-job-history ol > li {
    list-style: none;
    padding-top: 15px;
    margin-top: 30px;
}
.resume-job-history > p, h3 {
    margin-left: 30px;
}
.resume-job-history > h2 {
    margin-left: 30px;
    margin-bottom: 0px;
}
.resume-header-col-1 { width: -webkit-calc(35% - (30px / 2)); width: calc(35% - (30px / 2)); }
.resume-header-col-2 {width: -webkit-calc(65% - (30px / 2));width: calc(65% - (30px / 2));vertical-align: middle;padding-left: 30px;}
